body > a, button {
    background: transparent;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2.2px;
    height: 50px;
    width: 135px;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.3s ease 0s;
    text-transform: uppercase; 
    outline: 0;
    z-index: 123;
}

@media (min-width: 1300px) {
  body > a, button {
      font-size:12px;
      height: 55px;
      width: 150px;
      margin-top: 4em;
    }
}

button:hover {
  box-shadow: inset 0 0 0 4px #fff;
  color: #fff;
  border: 1px solid #fff;
}