html,
body,
section {
    height: auto;
}

body {
    line-height: 150%;
    text-align: center;
    width: 100%;
    background-color: #ECECEC;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

span1 {
    display: flex;
    flex-direction: column;
    /* use: 'row' for text from top to bottom */
    justify-content: center;
}

h1 {
    font-size: 1.3em;
    margin: 0 0 0.15em 0;
    color: #fff;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
}

.profile-text-box {
    padding: 5em;
    text-align: left;
}

@media (max-width: 979px) {
    .profile-text-box {
        padding: 4em;
    }
}

.right-padding-text {
    padding: 2em 3em;
    text-align: left;
}

@media (max-width: 979px) {
    .right-padding-text {
        padding: 0 2em;
    }
}

.profile-box {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url(/images/MP-Profile.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
}

@media (max-width: 767px) {
    .profile-box {
        height: 300px;
    }
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    /* This line makes FlexBox responsive */
}

@media (max-width: 767px;
) {
    .right {
        display: none;
    }
}

.footer {
    font-size: 11px;
    position: absolute;
    bottom: 2em;
    top: auto;
    left: 2em;
    right: auto;
    z-index: 10000000000000;
    float: left;
    color: rgba(255, 255, 255, .7);
}

.footer a {
    color: rgba(255, 255, 255, .7);
}

.footer a:hover {
    color: rgba(255, 255, 255, .95);
}

@media (min-width: 900px) {
    .footer {
        padding-left: 2.5em!important;
    }
}

.text {
    /*background-color: #F7D246;*/
    flex: 1 0 50%;
    min-width: 300px;
    /* Fill in min-width for your halfscreens, functions as 'breakpoint' for flex-wrap: wrap; */
    box-sizing: border-box;
    padding: 3em;
    min-height: 50vh;
    text-align: left;
    z-index: 12310230123;
}

@media (max-width: 900px) {
    .text {
        padding-left: 1.5em;
    }
}

@media (min-height: 400px) {
    .text {
        flex: 1 0 30%;
    }
    .image {
        flex: 1 0 70%;
    }
}

@media (min-height: 900px) {
    .text {
        flex: 1 0 10%;
    }
    .image {
        flex: 1 0 90%;
    }
}

@media (max-width: 950px) {
    .text {
        width: 100%!important;
        height: 100%!important;
        z-index: 91231023012030;
        position: absolute;
    }
}

blockquote {
    quotes: '“' '”';
}

blockquote:before {
    content: '“';
    content: open-quote;
}

blockquote:after {
    content: '”';
    content: close-quote;
}

.image {
    background-image: url('/images/design-n-1.jpg');
    background-color: #FFF;
    background-position: 50% 0%;
    background-size: cover;
    flex: 1 0 50%;
    min-width: 300px;
    box-sizing: border-box;
    padding: 0;
    min-height: 50vh;
}

.center {
    position: absolute;
    width: 350px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    /* margin is -0.5 * dimension */
    margin-top: -200px;
    z-index: 1000;
    text-align: center;
}

​ video,
source {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.loaded .ytplayer-container {
    display: block;
}

.loaded .placeholder-image {
    opacity: 0;
}

.ytplayer-container {
    bottom: 0;
    height: 700px;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    z-index: 0;
}

@media (max-width: 600px) {
    .ytplayer-container {
        height: 600px;
    }
}

.placeholder-image {
    height: 100%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.ytplayer-shield {
    height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.8;
    background: -webkit-linear-gradient(left top, black, transparent);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black, transparent);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, transparent);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top right, black, transparent);
    /* Standard syntax */
}

@media (max-width: 600px) {
    .ytplayer-shield {
        background: rgb(239, 85, 77);
        opacity: 1;
        height: 600px;
    }
}

.text-overlay {
    position: absolute;
    z-index: 20;
    box-sizing: border-box;
    padding: 3em;
    min-height: 50vh;
    text-align: left;
    flex: 1 0 50%;
    min-width: 300px;
    left: 10em;
    top: 9em;
    right: auto;
}

@media (max-width: 979px) {
    .text-overlay {
        left: 2em;
        right: auto;
    }
}

@media (max-width: 767px) {
    .text-overlay {
        left: -1em;
        right: auto;
    }
}

@media (max-width: 600px) {
    .text-overlay {
        left: -1.5em;
        right: auto;
        top: 6em;
    }
}

.ytplayer-player {
    position: absolute;
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
        opacity: 1\9;
        /* IE9 only */
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
        opacity: 1\9;
        /* IE9 only */
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        opacity: 1\9;
        /* IE9 only */
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 1;
    /* make things invisible upon start */
    -webkit-animation: fadeout ease-in 1;
    /* call our keyframe named fadeout, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeout ease-in 1;
    animation: fadeout ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}


/*---make a basic box ---*/

.box {
    height: 700px;
    width: 100%;
    position: absolute;
    display: inherit;
    right: auto;
    left: 0;
    z-index: 2;
    background: black;
}

@media (max-width: 600px) {
    .box {
        display: none;
    }
}


.fadein img {
    position:absolute;
    left:0;
    width: 100%;
    top:0;
    margin: 2em;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    background-color: #fff;
}
#f2 {
    -webkit-animation-delay: -8s;
    background-color: #fff;
}
#f3 {
    -webkit-animation-delay: -6s;
    background-color: #fff;
}
#f4 {
    -webkit-animation-delay: -4s;
    background-color: #fff;
}
#f5 {
    -webkit-animation-delay: -2s;
    background-color: #fff;
}